In [24]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from collections import Counter
from sklearn.preprocessing import LabelEncoder

In [4]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test_x.csv')

In [5]:
#no outliers for Q_A/Q_E(a~t)
a= train.describe()
sum(a.loc['max',]==5)

20

In [6]:
len(train['QaA'].unique())

5

In [7]:
train

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
0,0,3.0,363,4.0,1370,5.0,997,1.0,1024,2.0,...,0,1,0,1,1,0,1,0,1,1
1,1,5.0,647,5.0,1313,3.0,3387,5.0,2969,1.0,...,1,1,0,1,1,0,1,0,1,1
2,2,4.0,1623,1.0,1480,1.0,1021,4.0,3374,5.0,...,1,1,0,1,1,1,1,0,1,1
3,3,3.0,504,3.0,2311,4.0,992,3.0,3245,1.0,...,0,0,0,0,1,0,1,0,1,1
4,4,1.0,927,1.0,707,5.0,556,2.0,1062,1.0,...,1,1,1,1,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45527,45527,2.0,1050,5.0,619,4.0,328,1.0,285,1.0,...,1,1,0,1,1,1,1,0,1,1
45528,45528,2.0,581,3.0,1353,4.0,1164,1.0,798,3.0,...,1,1,0,1,1,1,1,0,1,1
45529,45529,4.0,593,1.0,857,1.0,1047,4.0,1515,5.0,...,1,1,0,1,1,0,1,0,1,1
45530,45530,1.0,747,3.0,1331,4.0,892,2.0,1281,1.0,...,1,1,0,1,1,1,1,0,1,1
45531,45531,3.0,496,5.0,1827,5.0,754,3.0,1117,1.0,...,1,1,0,1,1,0,1,0,1,1

In [8]:
E_cols = [col for col in train.columns if 'E' in col]

print(E_cols)

['QaE', 'QbE', 'QcE', 'QdE', 'QeE', 'QfE', 'QgE', 'QhE', 'QiE', 'QjE', 'QkE', 'QlE', 'QmE', 'QnE', 'QoE', 'QpE', 'QqE', 'QrE', 'QsE', 'QtE']

In [ ]:
#masking outlier

train[E_cols]=train[E_cols].mask(train[E_cols].sub(train[E_cols].mean()).div(train[E_cols].std()).abs().gt(3))

train[E_cols]['QcE'].isna().sum()

In [14]:
train['age_group']

0        30s
1        20s
2        30s
3        20s
4        20s
        ...
45527    10s
45528    30s
45529    10s
45530    40s
45531    20s
Name: age_group, Length: 45532, dtype: object

In [16]:
features_object = [col for col in train.columns if train[col].dtype == 'object']

In [17]:
features_object

['age_group', 'gender', 'race', 'religion']

In [27]:
#Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in train:
    if train[col].dtype == 'object':
        # If 2 or fewer unique categories
        # Train on the training data
        le.fit(train[col])
        # Transform both training and testing data
        train[col] = le.transform(train[col])
        # Keep track of how many columns were label encoded
        le_count += 1

In [40]:
le_count
train['tp04'].unique()

array([1, 0, 5, 6, 4, 2, 3, 7])

0        3
1        2
2        3
3        2
4        2
        ..
45527    1
45528    3
45529    1
45530    4
45531    2
Name: age_group, Length: 45532, dtype: int64